* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    color: white;
    background-color: black;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    /* justify-items: center; */
}

.section {
    /* background-color: red; */
    min-height: 360px;
}

.btn {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.7em 1em;
    background-color: rgb(13, 122, 247);
    font-weight: bold;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4em;
    text-align: center;
}

.hero h2 {
    margin-bottom: 1em;
}

.skill-badges {
    display: flex;
    gap: 0.8em;
    justify-content: center;
    flex-wrap: wrap;
}

.badge {
    cursor: default;
    max-width: 80px;
    text-align: center;
    font-weight: 400;
    background-color: rgb(248, 166, 12);
}

@media (max-width: 370px) {
    header {
        justify-content: center;
    }
}


.services {
    background-color: rgb(189, 189, 189);
    display: flex;
    min-height: 360px;
    gap: 1em;
}

.services-item {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    gap: 1em;
    padding: 1em 4em;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.services-item img {
    width: 300px;
    height: 300px;
}

.services-item h1 {}

.btn-order {
    flex-grow: 0;
    align-self: center;
}

.testimony-lists {
    display: flex;
    gap: 40px;
    /* flex-basis: px; */
    flex-wrap: wrap;
    justify-content: center;
    
}
.testimony-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: lightgray;
    border-radius: 10px;
    padding: 1em 2.5em;
    /* margin-bottom: 2em; */
    flex-grow: 0;
    flex-basis: calc(20% - 10px);
}

.testimony-section {
    padding: 2em 4em;
    text-align: center;
}

.testimony-section h1 {
    margin-bottom: 1em;
}

.testimony-item img {
    width: 100px;
}

footer {
    color: white;
    background-color: black;
    padding: 0.8em 4em;
    text-align: center;
    /* padding-top: 2em; */
}