* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0f0f0;
}

/* .main-header {
  background-color: rgb(70, 70, 70);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  margin: 0;
  position: fixed;
  width: 100%;
} */

.main {
  flex-grow: 1;
}

header {
  display: flex;
  color: white;
  background-color: rgb(70, 70, 70);
  padding: 10px;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
  align-items: center;
  /* justify-items: center; */
}

.header h3 {
  /* font-size: 20px; */
  color: whitesmoke;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: rgb(70, 70, 70);
}

.main-nav ul {
  list-style: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin: 0;
}

.main-nav li {
  padding-left: 30px;
}

.main-nav a {
  text-decoration: none;
  color: whitesmoke;
  margin-right: auto;
}

.btn-home a {
  color: rgb(0, 195, 255);
}

.btn-portfolio a {
  color: rgb(0, 195, 255);
}

.btn-contact a {
  color: rgb(0, 195, 255);
}

.section {
  min-height: 10px;
}

.img-container {
  text-align: center;
  margin: 20px auto;
}

.img-container img {
  max-width: 250px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 4em; */
  text-align: center;
}

.container-badges {
  display: flex;
  gap: 0.8em;
  justify-content: center;
  flex-wrap: wrap;
}

.badge {
  /* display: flex; */
  background-color: rgb(70, 70, 70);
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-weight: normal;
}
